# Neo4j Sandbox (https://sandbox.neo4j.com -> Stack Overflow project)
NEO4J_URI=bolt://YOUR_NEO4J_HOST
NEO4J_USER=neo4j
NEO4J_PASSWORD=YOUR_NEO4J_PASSWORD

# AWS Bedrock - IAM user with AmazonBedrockFullAccess in us-east-1
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_ACCESS_KEY
